.gradle
.env
*.project
/local.properties
# IntelliJ
*.iml
.idea/
.idea/inspectionProfiles/
.idea/inspectionProfiles/Project_Default.xml
.bundle/
.DS_Store
/build
/components-analytics/build
/captures
.externalNativeBuild
.cxx
.kotlin
local.properties
node_modules

*.gpg

firebase_credentials.*

# fastlane
fastlane/report.xml
fastlane/README.md
