.gradle
.env
*.project
/local.properties
# IntelliJ
*.iml
.idea/
.bundle/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
node_modules

*.gpg

firebase_credentials.*

# fastlane
fastlane/report.xml
fastlane/README.md