<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="vipps" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="vippsmt" />
        </intent>
    </queries>
    <application>

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

        <meta-data
            android:name="parentApplicationId"
            android:value="${applicationId}" />

        <activity
            android:name=".CheckoutSheetActivity"
            android:exported="true"
            android:label=""
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.PrimerUniversalCheckout"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.base.webview.WebViewActivity"
            android:label=""
            android:theme="@style/Theme.AppCompat.WebView" />

        <activity
            android:name=".ui.payment.async.AsyncPaymentMethodWebViewActivity"
            android:label=""
            android:theme="@style/Theme.AppCompat.WebView" />

        <activity
            android:name=".ui.payment.processor3ds.Processor3dsWebViewActivity"
            android:label=""
            android:theme="@style/Theme.AppCompat.WebView" />
        <activity
            android:name=".ui.deeplink.async.AsyncPaymentMethodDeeplinkActivity"
            android:exported="true"
            android:label=""
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.PrimerUniversalCheckout.NonTransparent">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:pathPrefix="/async"
                    android:host="requestor.${applicationId}"
                    android:scheme="primer" />
            </intent-filter>
        </activity>

        <activity
            android:name=".threeds.ui.ThreeDsActivity"
            android:exported="true"
            android:label=""
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.PrimerUniversalCheckout.NonTransparent" />

        <activity
            android:name=".components.ui.activity.HeadlessActivity"
            android:exported="true"
            android:label=""
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.PrimerUniversalCheckout">
            <intent-filter>
                <data
                    android:pathPrefix="/paypal"
                    android:host="requestor.${applicationId}"
                    android:scheme="primer" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.mock.PaymentMethodMockActivity"
            android:exported="false"
            android:label=""
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.WebView" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="io.primer.android.analytics.AnalyticsInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>
</manifest>
