<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.primer.android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name=".CheckoutSheetActivity" android:theme="@style/Theme.AppCompat.CheckoutSheet" />
    </application>

</manifest>