<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.primer.android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

        <meta-data
            android:name="parentApplicationId"
            android:value="${applicationId}" />

        <activity
            android:name=".CheckoutSheetActivity"
            android:exported="true"
            android:label=""
            android:theme="@style/Theme.AppCompat.PrimerUniversalCheckout"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <data android:scheme="primer_android" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".WebBrowserInteropActivity"
            android:exported="true"
            android:label=""
            android:theme="@android:style/Theme.NoDisplay" />

        <activity
            android:name=".ui.base.webview.WebViewActivity"
            android:exported="true"
            android:label=""
            android:theme="@style/Theme.AppCompat.WebView" />

        <activity
            android:name=".ui.payment.async.AsyncPaymentMethodWebViewActivity"
            android:label=""
            android:theme="@style/Theme.AppCompat.WebView" />

        <activity
            android:name=".threeds.ui.ThreeDsActivity"
            android:exported="true"
            android:label=""
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.PrimerUniversalCheckout.NonTransparent">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="requestor.${applicationId}"
                    android:scheme="primer_android_3ds" />
            </intent-filter>
        </activity>
    </application>

</manifest>
